@import "utils/vars";
@import "utils/reset";
@import "components/header";
@import "components/intro";
@import "components/features";
@import "components/works";
@import "components/team";
@import "components/reviews";
@import "components/download";
@import "components/footer";

@import "utils/mixins";

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

body {
  font-family: $mainFont;
  -webkit-font-smoothing: antialiased;

}

//body {
//  font-family: $mainFont;
//}


